{
    "rules": {
        "quotes": [
            2,
            "single"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "no-console": 0,
        "max-len": [1, 160],
        "quote-props": [1, "consistent-as-needed"],
        "no-cond-assign": [2, "except-parens"],
        "radix": 0,
        "func-names": 0,
        "padded-blocks": 0,
        "computed-property-spacing": [2, "always"],
        "space-infix-ops": 0,
        "no-unused-vars": [1, {"vars": "local", "args": "none"}],
        "space-before-function-paren": 0,
        "space-in-parens": [2, "always"],
        "key-spacing": [2, { "align": "colon", "beforeColon": true, "afterColon": true }],
        "brace-style": [2, "allman", { "allowSingleLine": true }],
        "array-bracket-spacing" : [2, "always"],
        "no-return-assign": 0,
        "jsx-quotes": [2, "prefer-double"],
        "react/jsx-boolean-value": 2,
        "react/jsx-curly-spacing": [2, "always"],
        "react/jsx-equals-spacing": [2, "never"],
        "react/jsx-indent": [2, 2],
        "react/jsx-indent-props": [2, 2],
        "react/jsx-no-duplicate-props": 2,
        "react/jsx-no-undef": 2,
        "react/jsx-space-before-closing": 2,
        "react/jsx-uses-react": 2,
        "react/jsx-uses-vars": 2,
        "react/self-closing-comp": 2,
        "react/jsx-no-bind": [2, {
        "allowArrowFunctions": true,
        "allowBind": false,
        "ignoreRefs": true
        }],
        "react/no-did-update-set-state": 2,
        "react/no-did-mount-set-state": 2,
        "react/no-direct-mutation-state": 2,
        "react/prefer-es6-class": [2, "always"],
        "react/no-unknown-property": 2,
        "react/prop-types": 2,
        "react/react-in-jsx-scope": 2,
        "react/sort-comp": [2, {
        "order": [
            "static-methods",
            "everything-else",
            "lifecycle",
            "render"
        ],
        "groups": {
            "lifecycle": [
            "getDefaultProps",
            "getInitialState",
            "componentWillMount",
            "componentDidMount",
            "componentWillReceiveProps",
            "shouldComponentUpdate",
            "componentWillUpdate",
            "componentDidUpdate",
            "componentWillUnmount"
            ]
        }
        }]
    },
    "globals": {
        "React": true,
        "expect": true,
        "it": true,
        "describe": true,
        "jest": true
    },
    "parser": "babel-eslint",
    "env": {
        "es6": true,
        "browser": true,
        "node": true
    },
    "extends": "airbnb"
}
